# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.rose_tuner/cuda_bench/cfd/result/
.rose_tuner/cuda_bench/gaussian/result/
.rose_tuner/cuda_bench/hotspot/result/
.rose_tuner/cuda_bench/lavaMD/result/
.rose_tuner/cuda_bench/lud/result/
.rose_tuner/cuda_bench/sp/result/
